{% extends 'orders/order_base.html' %}

{# 用户中心右侧内容块 #}
{% block right_content %}
    <div class="right_content clearfix">

        <h3 class="common_title2">
            订单详情&nbsp&nbsp&nbsp&nbsp
            <label>
                <font color="red">&nbsp&nbsp&nbsp&nbsp{{ errmsg }}</font>
            </label>
        </h3>

        <table class="layui-table">
            <colgroup>
                <col width="30%">
                <col width="60%">
            </colgroup>
            <thead>
            <tr>
                <th colspan="2" text-align="center">订单信息</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>订单ID:</td>
                <td>{{ context.order.order_id }}</td>
            </tr>
            <tr>
                <td>操作员:</td>
                <td>{{ context.order.staff }}</td>
            </tr>
            <tr>
                <td>支付方式:</td>
                <td>{{ context.order.pay_method }}</td>
            </tr>
            <tr>
                <td>总件数:</td>
                <td>{{ context.order.total_count }}</td>
            </tr>
            <tr>
                <td>药品总价:</td>
                <td>{{ context.order.med_price }}</td>
            </tr>
            <tr>
                <td>运费:</td>
                <td>{{ context.order.transit_price }}</td>
            </tr>
            <tr>
                <td>合计总价:</td>
                <td>{{ context.order.total_price }}</td>
            </tr>
            <tr>
                <td>进度状态:</td>
                <td>{{ context.order.order_status }}</td>
            </tr>
            </tbody>
        </table>

        <br>
        <h3 class="common_title2">
            药品信息&nbsp&nbsp&nbsp&nbsp
            <label>
                <font color="red">&nbsp&nbsp&nbsp&nbsp{{ errmsg }}</font>
            </label>
        </h3>

        <table class="layui-table">
            <colgroup>
                <col width="30%">
                <col width="30%">
                <col width="20%">
                <col width="20%">
            </colgroup>
            <thead>
            <tr>
                <th text-align="center">药品编号</th>
                <th text-align="center">药品名称</th>
                <th text-align="center">药品数量</th>
                <th text-align="center">药品价格</th>
            </tr>
            </thead>
            <tbody>
            {% for i in context.order_med %}
                <tr>
                    <td>{{ i.med_code }}</td>
                    <td>{{ i.med_name }}</td>
                    <td>{{ i.med_count }}</td>
                    <td>{{ i.med_price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock right_content %}