{% extends 'orders/order_base.html' %}
{# 网站主体内容块 #}
{# 用户中心右侧内容块 #}
{% block right_content %}
    <div class="right_content clearfix">
        <h3 class="common_title2">基本信息</h3>

        <table class="layui-table">
            <colgroup>
                <col width="20%">
                <col width="30%">
                <col width="20%">
                <col width="30%">
            </colgroup>
            <thead>
            <tr>
                <th colspan="4">订单信息</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>订单号</td>
                <td>{{ order.order_id }}</td>
                <td>操作员名</td>
                <td>{{ order.staff }}</td>
            </tr>
            <tr>
                <td>药品总数</td>
                <td>{{ order.total_count }}</td>
                <td>药品总价</td>
                <td>{{ order.med_price }}</td>
            </tr>
            <tr>
                <td>运费</td>
                <td>{{ order.transit_price }}</td>
                <td>总量</td>
                <td>{{ order.total_count }}</td>
            </tr>
            <tr>
                <td>订单状态</td>
                <td>{{ order.order_status }}</td>
                <td>订单状态</td>
                <td>{{ order.order_status }}</td>
            </tr>
            </tbody>
        </table>
        <br>
        <h3 class="common_title2">包含药品</h3>

        <table class="layui-table" lay-skin="row">
            <colgroup>
                <col width="16%">
                <col width="16%">
                <col width="16%">
            </colgroup>
            <thead>
            <tr>
                <th>药品名</th>
                <th>药品数量</th>
                <th>药品总价</th>
            </tr>
            </thead>
            <tbody>
            {% for med in ordergoods %}
                <tr>
                    <td>{{ med.med_name }}</td>
                    <td>{{ med.med_count }}</td>
                    <td>{{ med.med_price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% if order.total_count != 0 %}
        <form class="layui-form layui-form-pane" action="" method="post">
            {% csrf_token %}
            <div class="layui-form-item" pane>
                <label class="layui-form-label">支付方式</label>
                <div class="layui-input-block">
                    <input type="radio" name="pay_method" value="0" title="现金支付" checked>
                    <input type="radio" name="pay_method" value="1" title="微信支付">
                    <input type="radio" name="pay_method" value="2" title="支付宝">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formVerify">确认订单</button>
                    <button class="layui-btn layui-btn-disabled" disabled>如需修改，请返回购物车</button>
                    {% if errmsg %}
                        <button class="layui-btn layui-btn-danger">{{ errmsg }}</button>
                    {% endif %}
                </div>
            </div>
        </form>
        <script>
            layui.use(['form', 'layedit', 'laydate'], function () {
                var form = layui.form
                    , layer = layui.layer
                    , layedit = layui.layedit
                    , laydate = layui.laydate;
                form.render('radio')
                //创建一个编辑器
                var editIndex = layedit.build('LAY_demo_editor');

                //自定义验证规则
                form.verify({
                    depCart: function (value) {
                        if (Number(value) == 0) {
                            return '购物车里还没有药品';
                        }
                        if (Number(value) < 0) {
                            return '购物车数据错误，请检查购物车';
                        }
                    }

                });

                //监听提交
                form.on('submit(formVerify)', function (data) {
                    layer.msg('添加成功', {
                        icon: 1,
                        time: 3000
                    });
                });
            });

        </script>
        {#        <script>#}
        {#            layui.use(['form', 'layedit', 'laydate'], function () {#}
        {#                var form = layui.form#}
        {#                    , layer = layui.layer#}
        {#                    , layedit = layui.layedit#}
        {#                    , laydate = layui.laydate;#}
        {##}
        {#                //创建一个编辑器#}
        {#                var editIndex = layedit.build('LAY_demo_editor');#}
        {##}
        {#                //自定义验证规则#}
        {#                form.verify({#}
        {#                    depCart: function (value) {#}
        {#                        if (Number(value) == 0) {#}
        {#                            return '购物车里还没有药品';#}
        {#                        }#}
        {#                        if (Number(value) < 0) {#}
        {#                            return '购物车数据错误，请检查购物车';#}
        {#                        }#}
        {#                    }#}
        {##}
        {#                });#}
        {##}
        {##}
        {#                //监听提交#}
        {#                form.on('submit(formVerify)', function (data) {#}
        {#                    layer.msg('添加成功', {#}
        {#                        icon: 1,#}
        {#                        time: 2000#}
        {#                    })#}
        {#                    return false;#}
        {#                });#}
        {##}
        {#            });#}
        {#        </script>#}
{% endif %}
    </div>
{% endblock right_content %}