# Created by .ignore support plugin (hsz.mobi)
static/images/
apps/orders/migrations/
apps/medicine/__pycache__/
apps/orders/__pycache__/
apps/staff/__pycache__/
apps/staff/migrations/
apps/store/__pycache__/
apps/store/migrations/
apps/user/__pycache__/
medical/__pycache__/
/static/images/
!/.idea/
.idea/shelf/Uncommitted_changes_before_Update_at_2020_11_22_23_42_[Default_Changelist]/
apps/user/serializer/__pycache__/
__pycache__/
apps/__pycache__/
/apps/drugstore/migrations/
!/.gitignore
.idea/inspectionProfiles/
.idea/shelf/
.idea/shelf/Uncommitted_changes_before_Update_at_202.idea/shelf/0_11_25_15_57_[Default_Changelist]/
.idea/shelf/Uncommitted_changes_before_Update_at_2020_11_25_15_57__Default_Changelist_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_2020_11_25_21_59_[Default_Changelist]/
.idea/shelf/Uncommitted_changes_before_Update_at_2020_11_25_21_59__Default_Changelist_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_2020_12_5_18_42_[Default_Changelist]/
.idea/shelf/Uncommitted_changes_before_Update_at_2020_12_5_18_42__Default_Changelist_.xml
templates/salesDATA/.idea/
