{# 首页 注册 登录 #}
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{% load static %}

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    {# 网页标题内容块 #}
    <title>
        {% block title %}MADICAL-忘记密码{% endblock title %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/store_main.css' %}">
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/store.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/layer/layer.js' %}"></script>
    <script src="{% static 'js/layui/layui.js' %}" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static 'js/layui/css/layui.css' %}" media="all">
    {# 网页顶部引入文件块 #}
    {% block topfiles %}{% endblock topfiles %}
</head>

<body>
{# 网站主体内容块 #}
{% block body %}
    <div class="login_top clearfix">
        <a href="index.html" class="login_logo"><img src="{% static 'images/logo02.png' %}"></a>
    </div>
    <div class="login_form_bg">
        <div class="login_form_wrap clearfix">
            <div class="login_banner fl"></div>
            <div class="slogan fl">MADICAL</div>
            <div class="login_form2 fr">
                <div class="login_title clearfix">
                    <h1>忘记密码</h1>
                    <a href="{% url 'store:login' %}">立即登录</a>
                </div>
                <form class="layui-form" action="" id="">

                </form>
                <form class="layui-form" action="/store/email_s2" id="send_email" method="post">
                    {% csrf_token %}
                    {# 不设置表单action时，提交表单时，会向浏览器地址栏中的地址提交数据 #}
                    <div class="layui-form-item">
                        <label class="layui-form-label">邮箱：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="email" lay-verify="email" autocomplete="off"
                                   value="{{ email }}" class="layui-input">
                            <a href="{% url 'store:forget_email' %}"
                               class="layui-btn layui-btn layui-btn-normal layui-btn-xs fl">忘记邮箱？点击找回!</a>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="submit" class="layui-btn" lay-submit="" lay-filter="">发送验证码</button>
                            {% if send_errmsg %}
                                <button type="button" class="layui-btn layui-btn-danger">{{ send_errmsg }}</button>
                            {% endif %}
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="button" class="hidden"></button>
                        </div>
                    </div>
                </form>
                <form class="layui-form" action="/store/forget_password/" method="post" id="forget_password">
                    {% csrf_token %}
                    <div class="layui-form-item">
                        <label class="layui-form-label">验证码:</label>
                        <div class="layui-input-inline">
                            <input type="text" name="code" lay-verify="required" lay-reqtext="请输入验证码"
                                   placeholder="请输入" autocomplete="off" class="layui-input">
                            <input type="hidden" name="email" value="{{ email }}"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="reset" class="layui-btn layui-btn-primary fl">清空</button>
                            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">重置密码</button>
                        </div>
                    </div>
                    {% if check_errmsg %}
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button type="button" class="layui-btn layui-btn-danger">{{ check_errmsg }}</button>
                            </div>
                        </div>l
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    </div>
    <script type="application/javascript">
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = document.getElementById('send_email');
            form.render(); //更新全部
            var form2 = document.getElementById('forget_password');
            form2.render(); //更新全部
        }
    </script>
{% endblock body %}
<div class="footer">
    <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2016 北京MADICAL信息技术有限公司 All Rights Reserved</p>
    <p>电话：010-****888 京ICP备*******8号</p>
</div>
{# 网页底部html元素块 #}
{% block bottom %}{% endblock bottom %}
{# 网页底部引入文件块 #}
{% block bottomfiles %}{% endblock bottomfiles %}
</body>

</html>