{# 首页 注册 登录 #}
<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{% load static %}

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	{# 网页标题内容块 #}
	<title>
		{% block title %}获取经纬度说明{% endblock title %}
	</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	{# 网页顶部引入文件块 #}
	{% block topfiles %}{% endblock topfiles %}
</head>

<body>
	{# 网站主体内容块 #}
	{% block body %}
	<div class="login_top clearfix">
		<a href="index.html" class="login_logo"><img src="{% static 'images/logo02.png' %}"></a>
	</div>
	<div class="login_form_bg">
		<div class="login_title clearfix">
			<h1>经纬度获取说明</h1>
		</div>
        <div style="position:absolute;top:65%;left:15%;transform: translateX(-5%) translateY(-40%);">
        <img width="45%" height="" class="" src="{% static 'images/readme1.jpg' %}">
        <img width="45%" height="" class="" src="{% static 'images/readme2.jpg' %}">
        </div>
    </div>


	{% endblock body %}
	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>
		<p>CopyRight © 2016 北京MADICAL信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888 京ICP备*******8号</p>
	</div>
	{# 网页底部html元素块 #}
	{% block bottom %}{% endblock bottom %}
	{# 网页底部引入文件块 #}
	{% block bottomfiles %}{% endblock bottomfiles %}
</body>

</html>