{# 首页 注册 登录 #}
<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{% load static %}

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	{# 网页标题内容块 #}
	<title>
		{% block title %}MADICAL-登录{% endblock title %}
	</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	{# 网页顶部引入文件块 #}
	{% block topfiles %}{% endblock topfiles %}
</head>

<body>
	{# 网站主体内容块 #}
	{% block body %}
	<div class="login_top clearfix">
		<a href="index.html" class="login_logo"><img src="{% static 'images/logo02.png' %}"></a>
	</div>
	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">MADICAL</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>用户登录</h1>
					<a href="{% url 'store:register' %}">立即注册</a>
				</div>
				<div class="form_input">
					{# 不设置表单action时，提交表单时，会向浏览器地址栏中的地址提交数据 #}
					<form method="post">
						{% csrf_token %}
						<input type="text" name="username" class="name_input" value="{{ username }}"
							placeholder="请输入用户名">
						<div class="user_error">请输入用户名</div>
						<input type="password" name="pwd" class="pass_input" placeholder="请输入密码">
						<div class="pwd_error">请输入密码输入</div>
						<div class="more_input clearfix">
							<input type="checkbox" name="is_staff" {{ checked }}>
							<label>是否是员工（即不是店主）&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
							<input type="checkbox" name="remember" {{ checked }}>
							<label>记住用户名&nbsp&nbsp&nbsp&nbsp</label>
							<p>
								<font color="red">&nbsp&nbsp&nbsp&nbsp{{ errmsg }}</font>
								<a href="{% url 'store:forget_password' %}">忘记密码</a>
							</p>
						</div>
						<input type="submit" name="" value="登录" class="input_submit">
					</form>
				</div>
			</div>
		</div>
	</div>

	{% endblock body %}
	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>
		<p>CopyRight © 2016 北京MADICAL信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888 京ICP备*******8号</p>
	</div>
	{# 网页底部html元素块 #}
	{% block bottom %}{% endblock bottom %}
	{# 网页底部引入文件块 #}
	{% block bottomfiles %}{% endblock bottomfiles %}
</body>

</html>