{# 药品查询 #}
{% extends 'medicine/medicine_base.html' %}


{% block right_content %}
<div class="right_content clearfix">
  <h3 class="common_title2">药品添加&nbsp&nbsp&nbsp&nbsp<font color="red">&nbsp&nbsp&nbsp&nbsp{{ errmsg }}</font></h3>
  <div class="site_con">
    <form action="" method="post">
      {% csrf_token %}
      <div class="form_group1">
        <label>药品状态:</label>
        <table class="form_group_table">
          <td><input type="radio" name="status" value="0">暂停销售</td>
          <td>   |   </td>
          <td><input type="radio" name="status" value="1">在  售</td>
        </table>
      </div>
      <br>
      <div class="form_group">
        <label>国家药品编码:&nbsp;</label>
        <input type="text" name="medicinecode">
      </div>
      <div class="form_group">
        <label>药品名称:&nbsp;</label>
        <input type="text" name="name">
      </div>
      <div class="form_group">
        <label>药品种类:&nbsp;</label>
        <input type="text" name="type">
      </div>
      <div class="form_group">
        <label>药品价格:&nbsp;</label>
        <input type="text" name="price">
      </div>
      <div class="form_group">
        <label>药品生产单位:&nbsp;</label>
        <input type="text" name="unite">
      </div>
      <div class="form_group">
        <label>药品简介:&nbsp;</label>
        <input type="text" name="desc">
      </div>
      <div class="form_group">
        <label>库存数目:&nbsp;</label>
        <input type="text" name="stock" />
      </div>
      <div align="center">
        <input type="submit" name="" value="提交" class="info_submit">
      </div>
    </form>
  </div>
</div>
{% endblock right_content %}