{# 药品查询 #}
{% extends 'medicine/medicine_base.html' %}


{# 用户中心右侧内容块 #}
{% block right_content %}
<div class="right_content clearfix">
    <h3 class="common_title2">药品详情</h3>
    <div class="reg_form_medicine clearfix">
            <table id="medicine_table">
                <tr>
                    <td>
                        ID:{{ obj.pk }}
                    </td>
                    <td>
                        药品编号:{{ obj.medicinecode }}
                    </td>
                </tr>
                <tr>
                    <td>
                        名称:{{ obj.name }}
                    </td>
                    <td>
                        库存:{{ obj.stock }}
                    </td>
                </tr>
                <tr>
                    <td>
                        价格:{{ obj.price }}
                    </td>
                    <td>
                        状态:{{ obj.status }}
                    </td>
                </tr>
                <tr>
                    <td>
                        种类:{{ obj.type }}
                    </td>
                    <td>
                        销量:{{ obj.sales }}
                    </td>
                </tr>
                <tr>
                    <td>
                        生产单位:{{ obj.unite }}
                    </td>
                </tr>
                <tr>
                    <td height=80px>
                        简介:{{ obj.desc }}
                    </td>
                </tr>
                <tr>
                    <td>
{#                    <button value="" name="" onclick="window.location.href='../del_medicine/?id={{ obj.id }}'">删除</button>#}
                    <button value="" name="" onclick="window.location.href='../del_medicine/?id={{ obj.id }}'">删除</button>
                    </td>
                    <td>
                     <button value="" name="" onclick="window.location.href='../edit_medicine/?id={{ obj.id }}'">编辑</button>
                    </td>
                </tr>

            </table>
    </div>
</div>
{% endblock right_content %}