{% extends 'staff/staff_base.html' %}


{# 用户中心右侧内容块 #}
{% block right_content %}
<div class="right_content clearfix">
	<h3 class="common_title2">员工详情</h3>
	<div class="staff_info clearfix">
		<label for="员工详情"></label>
		<table id="staff_info">
			<tr>
				<td class="first">员工ID</td>
				<td class="second">{{ staff.id }}</td>
			</tr>
			<tr>
				<td class="first">员工用户名</td>
				<td class="second">{{ staff.username }}</td>
			</tr>
			<tr>
				<td class="first">员工密码</td>
				<td class="second">{{ staff.password }}</td>
			</tr>
			<tr>
				<td class="first">员工姓名</td>
				<td class="second">{{ staff.name }}</td>
			</tr>
			<tr>
				<td class="first">联系方式</td>
				<td class="second">{{ staff.phonenumber }}</td>
			</tr>
			<tr>
				<td class="first">员工简介</td>
				<td class="second" height=80px>{{ staff.desc }}</td>
			</tr>
		</table>
	</div>
	<div class="find_staff_table clearfix">
		<table>
				{% csrf_token %}
				<tr>
                    <td><button onclick="del_staff({{ staff.id }})">删除</button></td>
					<td>
                    <button value="" name="" onclick="window.location.href='../edit_staff/?id={{ staff.id }}'">员工编辑</button>
                    </td>
				</tr>
		</table>
	</div>

</div>
{% endblock right_content %}